@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

main {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .card {
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 35px;
}

.container .card .imagem {
    width: 100%;
    border-radius: 10px;
}

.container .card .titulo {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    color: hsl(218, 44%, 22%);
}

.container .card .texto {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    word-wrap: break-word;
    width: 250px;
    margin: auto;
}